.products {
	padding: 5rem 0 5.5rem;
	text-align: center;
}

.products-descr {
	margin-bottom: 4rem;
}

.categories {
	display: flex;
	justify-content: center;
	margin-bottom: 5.5rem;
}

.categories a {
	color: $descr-font;
	font-size: 1.5rem;
	font-weight: $medium;
	text-transform: uppercase;
	&:not(:last-child) {
		margin-right: 7.5rem;
		@include phone {
			margin-right: 2.5rem;
		}
	}
}

.categories .active,
.categories a:hover {
	color: $title-font;
}

.products-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include phone {
		margin-bottom: 0;
	}
}

.product {
	background-color: $section;
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
	position: relative;
	text-align: left;
	width: calc(33.3% - 2rem);
	&:hover {
		background-color: rgba(100, 117, 159, .4);
		transition: all 0.4s;
	}
	&:hover .product__overlay {
		opacity: 1;
	}
	&:hover .product__price {
		color: $white;
		transition: all 0.4s;
	}
	@include phone {
		width: 100%;
	}
}

.product__overlay {
	background-color: $descr-font;
	color: $white;
	display: inline-block;
	font-size: 1.4rem;
	font-weight: $medium;
	opacity: 0;
	padding: 1.1rem 2.5rem;
	position: absolute;
	top: 0;
	right: 0;
	text-transform: uppercase;
}

.product__overlay:hover {
	color: $white;
}

.product__pic {
	display: flex;
	//justify-content: center;
	//align-items: center;
	height: 24rem;
	//text-align: center;
	overflow: hidden;
}

.product__pic img {
	display: block;
	margin: auto;
	max-height: 100%;
	width: auto;
}

.product__descr {
	margin-top: auto;
	padding: 0 2.5rem 1.5rem;
}

.product__subtitle {
	margin-bottom: 0.5rem;
}

.products-btn {
	border: 1px solid #8791a9;
	border-radius: 2rem;
	display: inline-block;
	color: $gray;
	font-size: 1.5rem;
	font-weight: $medium;
	padding: 1rem 6.4rem;
	text-transform: uppercase;
	&:hover {
		border-color: $black;
		color: $black;
	}
}